.section-main {
    margin: 2rem;

    .section-inner {
        display: flex;

        @media ($media_xs) {
            flex-direction: column;
        }
    }

    &-cards {
        display: grid;
        align-content: flex-start;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        gap: 2rem;

        @media ($media_xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media ($media_lg) {
            grid-template-columns: 1fr 1fr;
        }

        @media ($media_md) {
            grid-template-columns: 1fr;
        }

        &-empty {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                white-space: nowrap;
                margin-bottom: 1rem;

                @media ($media_sm) {
                    white-space: normal;
                    margin-bottom: 1.5rem;
                    line-height: 1.6;
                    text-align: center;
                    font-size: 1.7rem;
                }
            }

            h3 {
                display: flex;
                text-align: center;

                svg {
                    fill: $color_success;
                    margin: 0 0.5rem;
                }

                @media ($media_sm) {
                    display: block;
                    width: 80%;
                    line-height: 1.8;
                }
            }
        }

        @media ($media_sm) {
            flex-direction: column;

            &-empty {
                height: calc(100vh - 4rem);
            }
        }

        @media ($media_xs) {
            &-empty {
                height: calc(100vh - 10rem - 2px);
            }
        }

    }
}