.section-main-cards {
    .card {
        background-color: $color_bg_card;
        transition: 0.3s ease-in-out;
        @include boxShadow;
        align-self: flex-start;

        @media ($media_md) {
            min-width: 100%;

            &:focus-within {
                @include cardShowItems;
            }
        }

        @media ($media_lg_full) {
            &:hover, &:focus-within {
                @include cardShowItems;
            }
        }

        &-header {
            padding: 1.3rem 2rem 1.05rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color_checked;

            h3 {
                word-break: break-word;
                font-size: 1.3rem;
                line-height: 1.4;
            }

            input {
                padding: 0.3rem 0.5rem;
                line-height: 1.6;
                font-size: 0.9rem;
                border: 1px solid $color_card_title_input;
                width: 100%;
            }

            &-links {
                svg {
                    display: none;
                }
            }
        }

        &-container {
            padding: 0.7rem 2rem;

            max-height: 20rem;
            overflow-y: auto;

            @media ($media_md) {
                max-height: none;
            }

            &-items {

                &-content {
                    padding: 0.8rem 0;

                    span, textarea {
                        word-break: break-word;
                        font-size: 0.9rem;
                        line-height: 1.7;
                    }

                    textarea {
                        padding: 0.3rem 0.5rem;
                        width: 100%;
                        height: 8rem;
                        resize: none;
                    }
                }
            }
        }

        &-footer {
            padding: 0 2rem 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-checkbox {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                button {
                    width: 100%;
                    margin-bottom: 0.7rem;
                }
            }

            &-date {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: $color_warning;

                svg {
                    fill: $color_warning;
                }

                &-clock {

                    &.clock-once {
                        span {
                            font-size: 0.8rem;
                        }
                    }

                    span {
                        position: relative;
                        padding-top: 0.1rem;
                        margin-left: 0.5rem;
                        font-size: 0.67rem;
                        cursor: pointer;
    
                        &::before {
                            content: "Дата добавления";
                            background-color: black;
                            color: $color_main;
                            padding: 0.35rem 0.6rem;
                            font-size: 0.7rem;
                            position: absolute;
                            left: 0;
                            bottom: -2.5rem;
                            display: none;
                            opacity: 0;
                            transition: 0.3s ease-in-out;
                        }
    
                        &:hover {
                            &::before {
                                display: block;
                                opacity: 1;
                            }
                        }
    
                        &.completed { // !!!!!!!!!!!!
                            //display: none;
    
                            padding-left: 0.5rem;
                            border-left: 1px solid $color_checked;
                            color: $color_success;
                            width: 100%;
    
                            &::before {
                                content: "Дата выполнения";
                            }
                        }
                    }
                }
            }

            &-add, &-edit {
                transition: 0.3s ease-in-out;
                opacity: 0;
                visibility: hidden;

                button {
                    
                    background: none;
                    border: none;
                    padding: 0;

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }

                    &:focus {
                        outline: none;
                        
                        svg {
                            transform: scale(1.2);
                        }
                    }
                }

                button[aria-label="checkbox"] {
                    border: 0.11rem solid $color_success;
                    border-top: none;
                    border-right: none;
                    height: 0.7rem;
                    width: 1.2rem;
                    transition: 0.3s ease-in-out;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    margin: -0.15rem 0.1rem 0 0.6rem;
                    cursor: pointer;

                    &:focus {
                        transform: rotate(-45deg) scale(1.2);
                    }
                }

                &-dropdown {
                    position: absolute;
                    background-color: $color_bg_main;
                    color: $color_main;
                    border: 1px solid $color_bg_card;
                    transition: 0.3s ease-in-out;
                    right: 2rem;
                    bottom: -3.5rem;

                    h5 {
                        white-space: nowrap;
                        padding: 0.8rem 0.5rem;
                        border-bottom: 1px solid $color_bg_card;
                        font-size: 0.8rem;
                    }

                    &-content {
                        display: flex;

                        button {
                            transition: 0.3s ease-in-out;
                            flex-basis: 50%;
                            color: $color_main;
                            padding: 0.5rem;
                            font-size: 0.8rem;
                            cursor: pointer;

                            &:first-child {
                                border-right: 1px solid $color_bg_card;

                                &:hover, &:focus {
                                    color: $color_success;
                                }
                            }

                            &:hover, &:focus {
                                color: $color_warning;
                            }
                        }
                    }
                }
            }

            &-add {
                display: flex;

                &-new {
                    svg {
                        margin-right: 0.5rem;
                    }
                    &:hover, &:focus {
                        svg {
                            fill: $color_success;
                        }
                    }
                }
                &-change {
                    svg {
                        fill: $color_warning;
                        margin-right: 0.5rem;
                    }
                }
                &-delete {
                    svg {
                        fill: $color_error;
                    }
                }

                button[aria-label="checkbox"] {
                    margin: -0.5rem 0.1rem 0.3rem 0.6rem;
                    transform-origin: 80% 100%;
                }
                
            }

            &-edit {
                display: flex;

                svg {
                    fill: $color_warning;
                }

                &-delete {
                    svg {
                        fill: $color_error;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}