.section-main-cards {
    .card-container-items {
        &-item {
            position: relative;
            outline: none;

            &-text {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                cursor: pointer;
                padding-top: 0.9rem;

                input[type="checkbox"] {
                    width: 0;
                    height: 0;
                }

                input[type="checkbox"]:focus ~ span {
                    text-decoration: underline;
                }

                input[type="checkbox"]:checked ~ span::before {
                    border-top: none;
                    border-right: none;
                    height: 0.7rem;
                    width: 1.2rem;
                    transform: rotate(-45deg);
                    top: calc(50% - 0.7rem + 0.1rem);
                    border-color: $color_success;
                }

                input[type="checkbox"]:checked ~ span {
                    color: $color_checked;
                    text-decoration: line-through;
                }

                // input[type="checkbox"]:checked ~ span::after {
                //     transform: translateY(-50%) scaleX(1);
                // }

                textarea {
                    font-size: 0.9rem;
                    padding: 0.3rem 0.5rem;
                    line-height: 1.7;
                    width: 100%;
                    resize: none;
                }

                span {
                    position: relative;
                    font-size: 0.9rem;
                    line-height: 1.6;
                    padding-left: calc(1.2rem + 0.8rem);
                    transition: 0.3s ease-in-out;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        height: 1rem;
                        width: 1rem;
                        border: 0.08rem solid $color_main;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            &-edit {
                position: relative;
                display: flex;
                flex-basis: 100%;
                justify-content: flex-end;
                margin: 0.2rem 0;
                transition: 0.3s ease-in-out;
                opacity: 0;
                visibility: hidden;

                button {
                    padding: 0;
                    border: none;
                    background: none;
                    display: flex;

                    &:focus {
                        outline: none;

                        svg {
                            transform: scale(1.2);
                        }
                    }
                }

                svg, button svg {
                    width: 0.75rem;
                    height: 0.75rem;
                    fill: $color_warning;
                    margin-left: 0.45rem;
                }

                &-date, &-links {
                    display: flex;
                    align-items: center;
                }

                &-date {
                    padding-right: 0.45rem;
                    border-right: 1px solid $color_checked;

                    span {
                        position: relative;
                        font-size: 0.65rem;
                        padding-top: 0.2rem;
                        color: $color_warning;
                        cursor: pointer;
                        z-index: 1;

                        &::before {
                            content: "Дата добавления";
                            background-color: black;
                            color: $color_main;
                            padding: 0.3rem 0.5rem;
                            font-size: 0.6rem;
                            position: absolute;
                            left: -3px;
                            top: -2rem;
                            display: none;
                        }

                        &:hover {
                            &::before {
                                display: block;
                                opacity: 1;
                            }
                        }

                        &.completed {
                            padding-right: 0.3rem;
                            margin-right: 0.3rem;
                            border-right: 1px solid $color_checked;
                            color: $color_success;

                            &::before {
                                content: "Дата выполнения";
                            }
                        }
                    }

                    svg {
                        fill: $color_warning;
                    }
                }

                &-links {
                    button {
                        svg.delete-task {
                            fill: $color_error;
                        }
                    }

                    button[aria-label="checkbox"] {
                        border: 0.11rem solid $color_success;
                        border-top: none;
                        border-right: none;
                        height: 0.7rem;
                        width: 1.2rem;
                        transform-origin: 70% 70%;
                        transform: rotate(-45deg) scale(0.7);
                        margin: -0.5rem 0.1rem 0.3rem 0.3rem;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;

                        &:focus {
                            transform: rotate(-45deg) scale(0.85);
                        }
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 0.7rem;
                border-bottom: 1px solid $color_checked;
            }

            &:hover, &:focus-within {
                .card-container-items-item-edit {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .card-container-items-item-dropdown, .card-container-items-item-edit-links-dropdown {
        position: absolute;
        background-color: $color_bg_main;
        color: $color_main;
        border: 1px solid $color_bg_card;
        transition: 0.3s ease-in-out;
        right: 1rem;
        bottom: -2px;
        z-index: 1;
    
        h5 {
            white-space: nowrap;
            padding: 0.8rem 0.5rem;
            border-bottom: 1px solid $color_bg_card;
            font-size: 0.8rem;
        }
    
        &-content {
            display: flex;
    
            button {
                padding: 0;
                border: none;
                background: none;

                transition: 0.3s ease-in-out;
                flex-basis: 50%;
                color: $color_main;
                padding: 0.5rem;
                font-size: 0.8rem;
                cursor: pointer;
    
                display: flex;
                justify-content: center;

                &:focus {
                    outline: none;
                }
    
                &:first-child {
                    border-right: 1px solid $color_bg_card;
    
                    &:hover, &:focus {
                        color: $color_success;
                    }
                }
    
                &:hover, &:focus {
                    color: $color_warning;
                }
            }
        }
    }
}