.section-main-cards {
    .card {
        background-color: $color_bg_card;
        transition: 0.3s ease-in-out;
        @include boxShadow;
        align-self: flex-start;
        max-width: 350px;

        &:hover {
            background-color: darken($color_bg_card, 2);
            transform: translate(-0.25rem, -0.25rem);
            @include boxShadowHover;

            .card-footer-add svg, .card-footer-edit svg {
                opacity: 1;
            }
        }

        &-header {
            padding: 1.5rem 2rem 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color_checked;

            h3 {
                font-size: 1.3rem;
            }

            input {
                padding: 0.3rem 0.5rem;
                line-height: 1.6;
                font-size: 0.9rem;
                border: 1px solid $color_card_title_input;
                width: 100%;
            }
        }

        &-container {
            padding: 0.7rem 2rem;

            &-items {

                &-content {
                    padding: 0.8rem 0;

                    span, textarea {
                        overflow-wrap: break-word;
                        font-size: 0.9rem;
                        line-height: 1.6;
                    }

                    textarea {
                        padding: 0.3rem 0.5rem;
                        width: 100%;
                        resize: none;
                    }
                }
            }
        }

        &-footer {
            padding: 0 2rem 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-checkbox {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                button {
                    width: 100%;
                    margin-bottom: 0.7rem;
                }
            }

            &-date {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: $color_warning;

                svg {
                    fill: $color_warning;
                }

                &-clock {

                    &.clock-once {
                        span {
                            font-size: 0.8rem;
                        }
                    }

                    span {
                        position: relative;
                        padding-top: 0.1rem;
                        margin-left: 0.5rem;
                        font-size: 0.67rem;
                        cursor: pointer;
    
                        &::before {
                            content: "Дата добавления";
                            background-color: black;
                            color: $color_main;
                            padding: 0.35rem 0.6rem;
                            font-size: 0.7rem;
                            position: absolute;
                            left: 0;
                            bottom: -2.5rem;
                            display: none;
                            opacity: 0;
                            transition: 0.3s ease-in-out;
                        }
    
                        &:hover {
                            &::before {
                                display: block;
                                opacity: 1;
                            }
                        }
    
                        &.completed { // !!!!!!!!!!!!
                            //display: none;
    
                            padding-left: 0.5rem;
                            border-left: 1px solid $color_checked;
                            color: $color_success;
                            width: 100%;
    
                            &::before {
                                content: "Дата выполнения";
                            }
                        }
                    }
                }
            }

            &-add, &-edit {
                span {
                    border: 0.11rem solid $color_success;
                    border-top: none;
                    border-right: none;
                    height: 0.7rem;
                    width: 1.2rem;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    margin: -0.5rem 0.1rem 0 0;
                    cursor: pointer;
                }
            }

            &-add {
                display: flex;

                svg {
                    width: 1rem;
                    height: 1rem;
                    opacity: 0;

                    &:nth-child(1) {
                        &:hover {
                            fill: $color_success;
                        }
                    }
                    &:nth-child(2) {
                        fill: $color_warning;
                        margin: 0 0.4rem;
                    }
                    &:nth-child(3) {
                        fill: $color_error;
                    }
                }

                span {
                    margin: -0.5rem 0.1rem 0.3rem 0.7rem;
                    transform-origin: 80% 100%;
                }
                
            }

            &-edit {
                display: flex;

                svg {
                    width: 1rem;
                    height: 1rem;
                    opacity: 0;
                    fill: $color_warning;

                    &:last-child {
                        fill: $color_error;
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
}