.section-main {
    &-pane {
        margin-right: 2rem;
        background-color: $color_bg_card;
        min-height: calc(100vh - (2rem * 2) - 3.5rem);
        position: fixed;
        @include boxShadow;
        min-width: 300px;

        position: sticky;
        top: 2rem;
        height: calc(100vh - 4rem);

        display: flex;
        flex-direction: column;

        .account {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color_checked;
            padding: 1.4rem 1.5rem;

            &-name {
                display: flex;
                align-items: center;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                span {
                    margin-left: 0.5rem;
                    padding-top: 0.2rem;
                }

                &:hover {
                    color: $color_success;

                    svg {
                        fill: $color_success;
                    }
                }
            }

            &-links {
                display: flex;

                &-icon {
                    position: relative;
                    display: flex;
    
                    svg {    
                        &:hover {
                            fill: $color_success;
                        }
                    }

                    &.add_card {
                        margin-right: 1rem;

                        &:hover {
                            .account-links-icon-dropdown {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
    
                    &-dropdown {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        top: 150%;
                        right: 0;
                        background-color: $color_bg_main;

                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s ease-in-out;

                        span {
                            font-size: 0.8rem;
                            white-space: nowrap;
                            padding: 1rem 0.8rem;
                            transition: 0.3s ease-in-out;
                            cursor: pointer;

                            &:hover {
                                color: $color_success;
                            }

                            &:first-child {
                                border-bottom: 1px solid $color_bg_card;
                            }
                        }
                    }
                }
            }      
        }

        .items {
            padding: 0.3rem 1.5rem;
            margin: 1.5rem 0 auto 0;
        }

        .author {
            padding: 1.5rem;

            h4 {
                text-align: center;
                color: $color_success;
            }
        }
    }
}