.section-main {
    &-pane {
        margin-right: 2rem;
        background-color: $color_bg_card;
        min-height: calc(100vh - (2rem * 2) - 3.5rem);
        @include boxShadow;
        min-width: 300px;

        position: sticky;
        top: 2rem;
        height: calc(100vh - 4rem);

        display: flex;
        flex-direction: column;

        @media ($media_xs) {
            position: static;
            margin: 0 0 2rem 0;
            height: auto;
            min-height: auto;
        }

        .account {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color_checked;
            padding: 1.4rem 1.5rem;

            &-name {
                display: flex;
                align-items: center;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                span {
                    margin-left: 0.5rem;
                    padding-top: 0.2rem;
                }

                &:hover {
                    color: $color_success;

                    svg {
                        fill: $color_success;
                    }
                }
            }

            &-links {
                display: flex;

                &-menu {
                    margin-left: 0.8rem;

                    .navbar_mobile_open {
                        overflow: hidden;
                        width: 16px;
                        height: 16px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1px;
                    
                        input {
                            display: flex;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            cursor: pointer;
                            opacity: 0;
                            z-index: 1;
                        }
                    
                        input:checked ~ span {
                            background-color: lighten($color_card_title_input, 30%);
                            width: 19px;
                            margin: 0;
                        }
                    
                        input:checked ~ span[aria-label="line1"] {
                            transform: rotate(135deg) translate(0px, 0px);
                            transform-origin: bottom;
                        }
                    
                        input:checked ~ span[aria-label="line2"] {
                            transform: rotate(45deg) translate(1px, -1px);
                            transform-origin: top;
                        }
                    
                        input:checked ~ span[aria-label="line3"] {
                            transform: rotate(45deg);
                            opacity: 0;
                        }
                          
                        span {
                            width: 16px;
                            height: 2px;
                            margin-bottom: 4px;
                            background: darken($color_main, 5%);
                            border-radius: 4px;
                            transition: all .5s cubic-bezier(.08,.81,.87,.71);
                        }
                    
                        span:last-child {
                            margin-bottom: 0;
                        }
                    
                        span[aria-label="line1"] {
                            transform-origin: 4px 0px;
                        }
                    
                        span[aria-label="line3"] {
                            transform-origin: bottom right;
                        }
                    }
                    
                }

                &-icon {
                    position: relative;
                    display: flex;
                    align-items: center;
    
                    svg {    
                        &:hover {
                            fill: $color_success;
                        }
                    }

                    &.add_card {
                        margin-right: 1rem;

                        &:hover {
                            .account-links-icon-dropdown {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
    
                    &-dropdown {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        top: 150%;
                        right: 0;
                        background-color: $color_bg_main;

                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s ease-in-out;

                        span {
                            font-size: 0.8rem;
                            white-space: nowrap;
                            padding: 1rem 0.8rem;
                            transition: 0.3s ease-in-out;
                            cursor: pointer;

                            &:hover {
                                color: $color_success;
                            }

                            &:first-child {
                                border-bottom: 1px solid $color_bg_card;
                            }
                        }
                    }
                }
            }      
        }

        aside {
            display: flex;
            flex-direction: column;
            height: 100%;

            .items-cover {
                margin: 1.5rem 0 auto 0;

                .items {
                    padding: 0.3rem 1.5rem;
                    max-height: calc(100vh - 14rem);
        
                    @media ($media_xs) {
                        max-height: 190px;
                    }
                    
                }
            }
    
            .author {
                padding: 1.5rem;
    
                h4 {
                    text-align: center;
                    color: $color_success;
                }
            }

        }

    }
}