.section-main-pane {
    .items {
        overflow-y: auto;
        
        &-item {
            background-color: $color_checked;
            transition: 0.3s ease-in-out;
            padding: 0.9rem;
            cursor: pointer;
            @include boxShadowItem;

            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.9rem;

            border: none;
            color: $color_main;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }

            &:focus {
                outline: none;
            }

            &:hover, &:focus {
                transform: translate(-0.25rem, -0.25rem);
                @include boxShadowItemHover;
            }

            &-text {
                word-break: break-word;
                text-align: left;
                line-height: 1.4;
            }

            &-stat {
                white-space: nowrap;
                font-size: 0.85rem;

                &.completed {
                    color: $color_success;
                }
            }
        }
    }
}